* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito';
}

.logo {
  height: 65px;
  width: auto;
}

.button {
  height: 40px;
  width: 200px;
  outline: 0;
  border: 0;
  border-radius: 8px;
  background: #3D4A84;
  color: white;
  font-size: 17px;
  letter-spacing: 1px;
  font-weight: bold;
  transition: all 300ms ease;
}

.button:hover {
  background:  #272738;
  cursor: pointer;
}

#navbar {
  height: 80px;
  width: 100%;
  background: #272738;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
}

#navbar .navbar-content {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#navbar .navbar-content ul {
  display: flex;
  list-style: none;
  font-weight: bold;
}

#navbar .navbar-content ul li {
  color: white;
  margin-left: 50px;
}

/* home */

#home {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(assets/home.jfif) center center/cover;
  background-color: rgba(0,0,0,0.6);
  background-blend-mode: color;
}

#home .home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#home .home-container h2 {
  font-size: 65px;
  color: white;
  margin: 60px 0;
  max-width: 430px;
  text-align: center;
}

/* instituição */

#instituicao {
  height: 100vh;
  width: 100%;
  margin-top: 90px;
  display: flex;
  justify-content: center;
}

#instituicao .instituicao-container {
  width: 85%;
  display: flex;
  flex-direction: column;
}

#instituicao .instituicao-container h2{
  display: flex;
  justify-content: center;
  font-size: 35px;
}

#instituicao .instituicao-container .instituicao-content {
  display: flex;
  
}
/* inscrição */

#inscricao {
  height: 700px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#inscricao .inscricao-content {
  width: 85%;
  display: flex;
  justify-content: center;
}

#inscricao .inscricao-content img{
  height: 400px;
  width: auto;
  margin-right: 100px;
}

#inscricao h2 {
  display: flex;
  justify-content: center;
  font-size: 35px;
  margin-bottom: 60px;
}

#inscricao .inscricao-content .inscricao-info {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#inscricao .inscricao-content .inscricao-info p {
  max-width: 500px;
  margin-bottom: 30px;
}

#inscricao .inscricao-content .inscricao-info button {
  letter-spacing: 0;
  margin-bottom: 30px;
  /* width: 100px;
  height: 30px;
  border-radius: 8px; */
}

/* contato */

#contato {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

#contato .contato-container {
  width: 70%;  
}

#contato .contato-container h2 {
  display: flex;
  justify-content: center;
  font-size: 35px;
}

#contato .contato-content {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

#contato .contato-content .contato-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 450px;
}
#contato .contato-content .contato-form input {
  width: 100%;
  height: 40px;
  margin: 10px 0;
  padding-left: 15px;
  border: 2px solid #3D4A84;
  outline: 0;
  color: #3D4A84;
}
#contato .contato-content .contato-form .double-input{
  display: flex;
  justify-content: space-between;
}

#contato .contato-content .contato-form .double-input input {
  width: 46%;
  margin: 10px 0;
}

#contato .contato-content .contato-form textarea {
  width: 100%;
  height: 80px;
  resize: none;
  margin: 10px 0;
  padding-left: 15px;
  padding-top: 15px;
  border: 2px solid #3D4A84;
  outline: 0;
  color: #3D4A84;
}

#contato .contato-content .contato-form .double-input button {
  width: 46%;
  margin: 10px 0;outline: 0;
  border: 0;
  /* border-radius: 8px; */
  font-size: 17px;
  font-weight: bold;
  transition: all 300ms ease;
  font-size: 10px;
  border: 2px solid #3D4A84;
}

#contato .contato-content .contato-form .double-input .blue-button {
  background: #3D4A84;
  color: white;
}

#contato .contato-content .contato-form .double-input .white-button {
  background: white;
  color: #3D4A84;
}

#contato .contato-content .contato-form button{
  width: 100%;
  margin: 10px 0;
  border: 2px solid #3D4A84;
  height: 40px;
}

#contato .contato-content .contato-form .large-button {
  background: #3D4A84;
  font-size: 17px;
  font-weight: bold;
  transition: all 300ms ease;
  border: 0;
  /* border-radius: 8px; */
  color: white;
  font-size: 14px;
}
::placeholder {
  color: #3D4A84;
}



/* footer */

#footer {
  height: 250px;
  width: 100%;
  background: #272738;
  display: flex;
  justify-content: center;
}

#footer .footer-content {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer .footer-content ul {
  list-style: none;
}

#footer .footer-content .info-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer .footer-content p {
  margin: 5px 0;
  color: white;
}

#footer .footer-content ul li {
  color: white;
  font-size: 14px;
  margin: 20px;
}

#footer .footer-content ul li i{
  font-size: 30px;
  margin-right: 5px;
}

#footer .footer-content .logo {
  height: 150px;
  width: auto;
}